*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* The navbar */
.wrapper{
    background: url(images/wrapperbg.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper >p{
    font-size: 40px;
    padding-top: 120px;
}
.navbar{
    height: 20vh;
    width: 100%;
}
    
.navbar >.navbarul{
    display: flex;
    /* display: block; */
    float: right;
}
.navbarlists{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    padding-right: 17px;
    background-color: rgba(0, 0, 0, 0.4);
}