*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

/* Header */
.wrapper{
    height: 80vh;
    background: url(./images/wrapbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* The Navbar */

.navbar{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar >img{
   padding-top: 20px;
}

.navbar >ul{
    display: flex;
    justify-content: flex-end;
    /* justify-self: flex-end; */
    list-style-type: none;
    padding-top: 20px;
    float: right;
}

.navbar >ul >li{
    padding-left:14px;
    padding-right: 8px;
    font-size: 20px;
}

a:link{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
}

a:visited{
    color: white;
    font-size: 18px;
}

a:hover{
    font-size: 20px;
    box-shadow: 6px 6px;
}

/* Main Portion */

body{
    background: white;
}

.fleet{
    width: 80%;
    margin-left: 150px;
    /* border: 4px solid black; */
    padding: 14px;
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.infleet >p{
    float: right;
}